
<div class="home-banner">
    <h1>Magic: the Gathering</h1>
    <p>A plataform to sell and buy cards</p>
    <%= link_to 'Login', new_user_session_path, class: 'btn-secondary btn  mt-10 p-10' %>
</div>
