<div class="container">
<h1>Show me your MAGIC CARD</h1>


<p>Venda / troca de cards e bla bla bla </p>
<p style="text-align:center">Center this text!</p>

<div class="container">
  <div class="card" style="width: 6.5rem;">
   <div class="card-body">
      <h5 class="card-title">CARD TITLE</h5>
      <p class="card-text"> DESCRIPTION CARD.</p>
    <img class="card-img-top" src="..." alt="Card image cap">
  </div>
</div>
</div>
</div>
