<div class = 'container'>
  <div align = "center">
    <div class="title: mt-4">
      <h1 style="color: white;"><strong> Edit your Cards </strong></h1>
    </div>

    <div class="form-new">
      <%= render 'form', card: @card %>
    </div>

    <div class="form-actions">
      <button type="button" class="btn btn-primary btn-lg mb-4 radius-15" data-toggle="modal" data-target="#exampleModalCenter">
        Updated Card
      </button>
    </div>

    <div>
      <%= link_to 'Back', cards_path, class: "btn btn-secondary radius-15 btn-lg mb-4 " %>
    </div>
  </div>
</div>
