<div>
<div class = 'container'>
  <div align = "center">

  <div>
    <h1><strong> Create New Cards </strong></h1>
  </div>


  <div class="form-new">
    <%= render 'form', card: @card %>

    <div class="form-actions">
    <button type="button" class="btn btn-primary btn-lg mb-4" data-toggle="modal" data-target="#exampleModalCenter">
  Create Card </button>
  </div>

  <div>
    <%= link_to 'Back', cards_path, class: "btn btn-secondary btn-lg radius-2" %>
  </div>
</div>
</div>
