<div>
  <div class = 'container'>
    <div align = "center">
      <div class="form-new">
        <%= render 'form', card: @card %>
      </div>

      <div>
        <%= link_to 'Back', cards_path, class: "btn btn-secondary btn-lg radius-2" %>
      </div>
    </div>
  </div>
</div>
